[user]
	name = Leonel Araujo
	email = leonel.araujo@addvolt.com
	signingkey = F15313507DA404E919AC779778A9F0B107622805
[core]
	editor = nvim
	pager = delta
	excludesFile = ~/.globalgitignore
[init]
	defaultBranch = master
[rerere]
	enabled = true
[delta]
	side-by-side = true
[commit]
	gpgsign = true
