[user]
	name = Leonel Araujo
	email = leonel.araujo@addvolt.com
[core]
	editor = nvim
	pager = delta
	excludesFile = ~/.globalgitignore
[init]
	defaultBranch = master
[rerere]
	enabled = true
[delta]
	side-by-side = true
